@using Microsoft.AspNetCore.Identity
@using APP.Core.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var signedInUser = await UserManager.GetUserAsync(User);
    var notifications = ViewBag.Notifications as IEnumerable<Notification>;

    <div class="right-side">

        <!--  User Notifications -->
        <div class="header-widget hide-on-mobile">

            <!-- Notifications -->
            <div class="header-notifications">

                <!-- Trigger -->
                <div class="header-notifications-trigger">
                    @if (notifications != null)
                    {
                        <a href="#"><i class="icon-feather-bell"></i><span id="notification-counter">@notifications.Count()</span></a>
                    }
                    else
                    {
                        <a href="#"><i class="icon-feather-bell"></i><span>0</span></a>
                    }
                </div>

                <!-- Dropdown -->
                <div class="header-notifications-dropdown">

                    <div class="header-notifications-headline">
                        <h4>Bildirimler</h4>
                        <button id="markAllAsRead" data-user-id="@signedInUser.Id" class="mark-as-read ripple-effect-dark" title="Tümünü okundu olarak işaretle" data-tippy-placement="left">
                            <i class="icon-feather-check-square"></i>
                        </button>
                    </div>

                    <div class="header-notifications-content">
                        <div class="header-notifications-scroll" data-simplebar>
                            <ul>

                                @if (notifications != null)
                                {
                                    @foreach (var notification in notifications)
                                    {
                                        <!-- Notification -->
                                        <li id="@notification.Id" class="notifications-not-read">
                                            <a id="markSingleNotificationAsRead" data-notification-id="@notification.Id" data-return-url="@notification.ReturnUrl">
                                                <span class="notification-icon"><i class="icon-material-outline-notifications-active"></i></span>
                                                <span class="notification-text">
                                                    <strong><span class="color">@notification.SenderName</span></strong> @notification.NotificationString
                                                </span>
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="notifications-not-read">
                                        <a href="#">
                                            <span class="notification-icon"><i class="icon-material-outline-notifications-off"></i></span>
                                            <span class="notification-text">
                                                <strong>Okunmamış yeni bildirim yok!</strong>
                                            </span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <a href="/OrderOffer/Dashboard" class="header-notifications-button ripple-effect button-sliding-icon">Tüm Bildirimler<i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>

            <!-- Messages -->
            <div class="header-notifications">
                <div class="header-notifications-trigger">
                    <a href="#"><i class="icon-feather-mail"></i><span>1</span></a>
                </div>

                <!-- Dropdown -->
                <div class="header-notifications-dropdown">

                    <div class="header-notifications-headline">
                        <h4>Messages</h4>
                        <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                            <i class="icon-feather-check-square"></i>
                        </button>
                    </div>

                    <div class="header-notifications-content">
                        <div class="header-notifications-scroll" data-simplebar>
                            <ul id="notification-list">
                                <!-- Notification -->
                                <li class="notifications-not-read">
                                    <a href="dashboard-messages.html">
                                        <span class="notification-avatar status-online"><img src="~/images/user-avatar-small-03.jpg" alt=""></span>
                                        <div class="notification-text">
                                            <strong>David Peterson</strong>
                                            <p class="notification-msg-text">Thanks for reaching out. I'm quite busy right now on many...</p>
                                            <span class="color">4 hours ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <a href="/mesajlar" class="header-notifications-button ripple-effect button-sliding-icon">Gelen Kutusu<i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>

        </div>
        <!--  User Notifications / End -->
        <!-- User Menu -->
        <div class="header-widget">

            <!-- Messages -->
            <div class="header-notifications user-menu">
                <div class="header-notifications-trigger">
                    <a href="#"><div class="user-avatar status-online"><img src="~/images/avatar/@signedInUser.Image" alt=""></div></a>
                </div>

                <!-- Dropdown -->
                <div class="header-notifications-dropdown">

                    <!-- User Status -->
                    <div class="user-status">

                        <!-- User Name / Avatar -->
                        <div class="user-details">
                            <div class="user-avatar status-online"><img src="~/images/avatar/@signedInUser.Image" alt=""></div>
                            <div class="user-name">
                                @signedInUser.Name @signedInUser.Surname <span>@signedInUser.Email</span>
                            </div>
                        </div>

                        <!-- User Status Switcher -->
                        <div class="status-switch" id="snackbar-user-status">
                            <label class="user-online current-status">Online</label>
                            <label class="status-offline user-invisible">Görünmez</label>
                            <!-- Status Indicator -->
                            <span class="status-indicator" aria-hidden="true"></span>
                        </div>
                    </div>

                    <ul class="user-menu-small-nav">
                        <li><a asp-controller="OrderOffer" asp-action="Dashboard"><i class="icon-material-outline-dashboard"></i> Yönetim Paneli</a></li>
                        <li><a href="/Identity/Account/Manage"><i class="icon-material-outline-settings"></i> Hesap Ayarları</a></li>
                        <li style="margin-top:15px">
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="log-in-button">&nbsp;<i class="icon-feather-power"></i>Çıkış</button>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        <!-- User Menu / End -->
        <!-- Mobile Navigation Button -->
        <span class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </span>

    </div>
}
else
{
    <div class="right-side">
        <div class="header-widget">
            <a asp-area="Identity" asp-page="/Account/Login" class="log-in-button"><i class="icon-feather-log-in"></i> <span>Giriş Yap</span></a>
        </div>
        <div class="header-widget">
            <a asp-area="Identity" asp-page="/Account/Register" class="log-in-button"><i class="icon-feather-user-plus"></i> <span>Kaydol</span></a>
        </div>

        <!-- Mobile Navigation Button -->
        <span class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </span>
    </div>
}

<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).on("click", "#markAllAsRead", function () {
        var userId = $(this).data('user-id');
        $.ajax({
            type: "POST",
            url: "/Notification/MarkAllAsRead",
            data: { userID: userId },
            success: function (result) {
                $(".notifications-not-read").remove();
                $("#notification-counter").text("0");
            },
            error: function (result) {
                alert("Bildirimler silinirken hata meydana geldi!");
            }
        });
    });

    $(document).on("click", "#markSingleNotificationAsRead", function () {
        var notificationID = $(this).data('notification-id');
        var returnUrl = $(this).data('return-url');
        var liString = "#" + notificationID;
        $.ajax({
            type: "POST",
            url: "/Notification/MarkSingleNotificationAsRead",
            data: { notificationId: notificationID },
            success: function (result) {
                $(liString).remove();
                var counter = +($("#notification-counter").text());
                var newCounter = counter - 1;
                $("#notification-counter").text(newCounter.toString());
                window.location.href = returnUrl;
            },
            error: function (result) {
                alert("Bildirim silinirken hata meydana geldi!");
            }
        });
    });

</script>

