@model IEnumerable<APP.Core.Models.Message>
@using Microsoft.AspNetCore.Identity
@using APP.Core.Models
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Acikio - Onay Bekleyen Siparişlerin";
    Layout = "_Layout";
    var usersForLeftMenu = ViewBag.ChatUsers;
    var activeChatUser = ViewBag.ChatUser;
    var activeUser = await UserManager.GetUserAsync(User);
}

<div class="dashboard-container" style="height: 778px;">
    <partial name="_SidebarPartial" />

    <div class="dashboard-content-container" data-simplebar="init" style="height: 778px;">
        <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 502px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 20px; margin-bottom: -20px;">
            <div class="simplebar-content" style="padding-bottom: 20px;">
                <div class="dashboard-content-inner" style="min-height: 778px;">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>Mesajlar</h3>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="dark">
                            <ul>
                                <li><a href="#">Yönetim Paneli</a></li>
                                <li><a href="#">Mesajlar</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="messages-container margin-top-0">

                        <div class="messages-container-inner">

                            <!-- Messages -->
                            <div class="messages-inbox">
                                <div class="messages-headline">
                                    <div class="input-with-icon">
                                        <input id="autocomplete-input" type="text" placeholder="Search">
                                        <i class="icon-material-outline-search"></i>
                                    </div>
                                </div>

                                @{
                                    var counter = usersForLeftMenu.Count;
                                }
                                <ul>
                                    @foreach (var userInChat in usersForLeftMenu)
                                    {
                                        <li>
                                            <a href="/mesajlar/@userInChat.Id">
                                                <div class="message-avatar"><i class="status-icon status-online"></i><img src="~/images/user-avatar-small-03.jpg" alt=""></div>

                                                <div class="message-by">
                                                    <div class="message-by-headline">
                                                        <h5>@userInChat.Name @userInChat.Surname</h5>
                                                        <span>last recently</span>
                                                    </div>
                                                    <p>Mesajlaşmaya başlayın</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- Messages / End -->

                            <div class="message-content">

                                <div class="messages-headline">
                                    <h4>@activeChatUser.Name @activeChatUser.Surname</h4>
                                    <a href="#" class="message-action"><i class="icon-feather-trash-2"></i> Delete Conversation</a>
                                </div>

                                <!-- Message Content Inner -->
                                <div class="message-content-inner">

                                    @foreach (var message in Model)
                                    {
                                        if (message.SenderId == activeUser.Id)
                                        {
                                            <div class="message-bubble me">
                                                <div class="message-bubble-inner">
                                                    <div class="message-avatar"><img src="~/images/user-avatar-small-01.jpg" alt=""></div>
                                                    <div class="message-text"><p>@message.MessageText</p></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="message-bubble">
                                                <div class="message-bubble-inner">
                                                    <div class="message-avatar"><img src="~/images/user-avatar-small-02.jpg" alt=""></div>
                                                    <div class="message-text"><p>@message.MessageText</p></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        }
                                    }

                                </div>
                                <!-- Message Content Inner / End -->
                                <!-- Reply Area -->
                                <form>
                                    <div class="message-reply">
                                        <textarea cols="1" rows="1" placeholder="Your Message" id="messageText"></textarea>
                                        <button id="sendMessage" class="button ripple-effect" data-receiver-id="@activeChatUser.Id">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Messages Container / End -->
                    <!-- Footer -->
                    <div class="dashboard-footer-spacer" style="padding-top: 125px;"></div>
                    <div class="small-footer margin-top-15">
                        <div class="small-footer-copyrights">
                            © 2018 <strong>Hireo</strong>. All Rights Reserved.
                        </div>
                        <ul class="footer-social-links">
                            <li>
                                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Facebook">
                                    <i class="icon-brand-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Twitter">
                                    <i class="icon-brand-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Google Plus">
                                    <i class="icon-brand-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="LinkedIn">
                                    <i class="icon-brand-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Footer / End -->

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).on("click", "#sendMessage", function () {
        var message = $("#messageText").val();
        var receiver = $(this).data('receiver-id');

        $.ajax({
            type: "POST",
            url: "/Message/SendMessage",
            data: { receiverId: receiver, messageText: message },
            success: function (result) {
                window.location.href = "/mesajlar/" + receiver;
            },
            error: function (result) {
                alert("Mesaj gönderilirken bir sorun oluştu!");
            }
        });

    });

</script>