@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Hireo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="../../../../css/colors/blue.css">

</head>
<body style="background-image: url(../../../../images/backgrounds/registerbg.jpg);">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="color:white">Acikio</h2>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-12">

                <div class="login-register-page" style="background-color: #fff; padding: 35px 35px 35px 35px; border-radius: 10px 10px 10px 10px;">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3 style="font-size: 26px;">Acıktıysan bize katıl!</h3>
                        <span>Zaten hesabın var mı? <a asp-page="./Login">Giriş Yap!</a></span>
                    </div>


                    <!-- Form -->
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="register-account-form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <!-- Account Type -->
                        <div class="account-type">
                            <div>
                                <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked />
                                <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Yemek Ustası</label>
                            </div>

                            <div>
                                <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" />
                                <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Acıktım</label>
                            </div>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" asp-for="Input.Email" class="input-text with-border" placeholder="E-Posta Adresi" required />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" asp-for="Input.Password" class="input-text with-border" placeholder="Parola" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" asp-for="Input.ConfirmPassword" class="input-text with-border" placeholder="Parola Tekrar" required />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Giriş Yap <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </form>

                    <!-- Social Login -->
                    <div class="social-login-separator"><span>veya</span></div>
                    <div class="social-login-buttons">
                        <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook ile Kaydol</button>
                        <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+ ile Kaydol</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->
    <!-- Scripts
    ================================================== -->
    <script src="../../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../../js/jquery-migrate-3.0.0.min.js"></script>
    <script src="../../../../js/mmenu.min.js"></script>
    <script src="../../../../js/tippy.all.min.js"></script>
    <script src="../../../../js/simplebar.min.js"></script>
    <script src="../../../../js/bootstrap-slider.min.js"></script>
    <script src="../../../../js/bootstrap-select.min.js"></script>
    <script src="../../../../js/snackbar.js"></script>
    <script src="../../../../js/clipboard.min.js"></script>
    <script src="../../../../js/counterup.min.js"></script>
    <script src="../../../../js/magnific-popup.min.js"></script>
    <script src="../../../../js/slick.min.js"></script>
    <script src="../../../../js/custom.js"></script>

</body>
</html>

@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@