@model IEnumerable<APP.Core.Models.ChiefAdvertisement>
@{
    ViewData["Title"] = "ChiefAdsListOfUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="dashboard-container" style="height: 778px;">
        <partial name="_SidebarPartial" />

        <div class="dashboard-content-container" data-simplebar="init" style="height: 729px;">
            <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 598px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
                <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                    <div class="dashboard-content-inner" style="min-height: 729px;">

                        <!-- Dashboard Headline -->
                        <div class="dashboard-headline">
                            <h3>İlanlarım</h3>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs" class="dark">
                                <ul>
                                    <li><a href="#">Kontrol Paneli</a></li>
                                    <li><a href="#">Aktif İlanlarım</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Row -->
                        <div class="row">

                            <!-- Dashboard Box -->
                            <div class="col-xl-12">
                                <div class="dashboard-box margin-top-0">

                                    <!-- Headline -->
                                    <div class="headline">
                                        <h3><i class="icon-material-outline-assignment"></i> İlanları Yönet</h3>
                                    </div>

                                    <div class="content">
                                        <ul class="dashboard-box-list">
                                            @foreach (var ads in Model)
                                            {
                                                <li>
                                                    <!-- Job Listing -->
                                                    <div class="job-listing width-adjustment">

                                                        <!-- Job Listing Details -->
                                                        <div class="job-listing-details">

                                                            <!-- Details -->
                                                            <div class="job-listing-description">
                                                                <h3 class="job-listing-title"><a href="#">@ads.Title</a></h3>

                                                                <!-- Job Listing Footer -->
                                                                <div class="job-listing-footer">
                                                                    <ul>
                                                                        <li><i class="icon-material-outline-date-range"></i> @ads.CreatedAt.ToShortDateString()</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Task Details -->
                                                    <ul class="dashboard-task-info">
                                                        <li><strong>@ads.OrderOffers.Count</strong><span>Siparişler</span></li>
                                                        <li><strong>0 ₺</strong><span>Ortalama Teklif</span></li>
                                                        <li><strong>@ads.Price ₺</strong><span>Belirlediğin Ücret</span></li>
                                                    </ul>

                                                    <!-- Buttons -->
                                                    <div class="buttons-to-right always-visible">
                                                        <a href="/yonetim-paneli/gelen-teklifler/@ads.Id" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Siparişleri Yönet <span class="button-info">@ads.OrderOffers.Count</span></a>
                                                        <a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Edit"><i class="icon-feather-edit"></i></a>
                                                        <a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Remove"><i class="icon-feather-trash-2"></i></a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Row / End -->

                       <partial name="~/Views/Shared/_WhiteFooterPartial.cshtml" />

                    </div>
                </div>
            </div>
        </div>
    </div>

