@model IEnumerable<APP.Core.Models.OrderOffers>
@using Microsoft.AspNetCore.Identity
@using APP.Core.Models
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Acikio - Bekleyen Teklifler";
    Layout = "_Layout";
}

<div class="dashboard-container" style="height: 778px;">
    <partial name="_SidebarPartial" />

    <div class="dashboard-content-container" data-simplebar="init" style="height: 778px;">
        <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 452px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
            <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                <div class="dashboard-content-inner" style="min-height: 778px;">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>Bekleyen Tekliflerin</h3>
                        <span class="margin-top-7">Gönderdiğin ve onay almayı bekleyen teklifler</span>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="dark">
                            <ul>
                                <li><a href="#">Yönetim Paneli</a></li>
                                <li><a href="#">Bekleyen Teklifler</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Row -->
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-supervisor-account"></i> 3 Bidders</h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">
                                        @foreach (var offer in Model)
                                        {
                                            var user = await UserManager.FindByIdAsync(offer.ChiefId);
                                            <li>
                                                <!-- Overview -->
                                                <div class="freelancer-overview manage-candidates">
                                                    <div class="freelancer-overview-inner">

                                                        <!-- Avatar -->
                                                        <div class="freelancer-avatar">
                                                            <div class="verified-badge"></div>
                                                            <a href="#"><img src="~/images/user-avatar-big-02.jpg" alt=""></a>
                                                        </div>

                                                        <!-- Name -->
                                                        <div class="freelancer-name">
                                                            <h4><a href="#">@offer.Title </a></h4>

                                                            <!-- Details -->
                                                            <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-user"></i>@user.Name @user.Surname </a></span>

                                                            <!-- Rating -->
                                                            <div class="freelancer-rating">
                                                                @{
                                                                    var rating = user.Rating.ToString().Replace(",", ".");
                                                                }
                                                                <div class="star-rating" data-rating="@rating"></div>
                                                            </div>

                                                            <!-- Bid Details -->
                                                            <ul class="dashboard-task-info bid-info">
                                                                <li><strong>@offer.Price ₺</strong><span>Teklif Miktarı</span></li>
                                                                <li><strong>@offer.CreatedAt.ToString("dd/MM/yyyy")</strong><span>Sipariş Tarihi</span></li>
                                                            </ul>
                                                            <!-- Buttons -->
                                                            <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                                                                <a href="#small-dialog-1" class="popup-with-zoom-anim button gray ripple-effect disabled"><i class="icon-line-awesome-hourglass-start"></i> Cevap Bekleniyor</a>
                                                                <a href="#" class="button red ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="İptal Et"><i class="icon-feather-trash-2"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Row / End -->

                    <partial name="~/Views/Shared/_WhiteFooterPartial.cshtml" />

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bid Acceptance Popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab1">Sipariş Onayı</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab">

                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Accept Offer From David</h3>
                    <div class="bid-acceptance margin-top-15">
                        $3200
                    </div>

                </div>

                <form id="terms">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" required>
                        <label for="radio-1"><span class="radio-label"></span>  I have read and agree to the Terms and Conditions</label>
                    </div>
                </form>

                <!-- Button -->
                <button class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>

        </div>
    </div>
</div>
<!-- Bid Acceptance Popup / End -->
<!-- Send Direct Message Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab2">Send Message</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab2">

                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Direct Message To David</h3>
                </div>

                <!-- Form -->
                <form method="post" id="send-pm">
                    <textarea name="textarea" cols="10" placeholder="Message" class="with-border" required></textarea>
                </form>

                <!-- Button -->
                <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Send <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>

        </div>
    </div>
</div>
<!-- Send Direct Message Popup / End -->